<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ site.title }}</title>
  </head>
  <body>
    <h1>{{ title }} {{ year }}</h1>
    <div>{{ content }}</div>
    <div class="carousel-preview">
      {% for img in collections[gallery] %}
      <button on="tap:carousel-with-preview.goToSlide(index=0)">
        <amp-img
          src="{{ rootDir }}/{{ img }}"
          width="128"
          height="128"
          alt="{{ img }}"
        ></amp-img>
      </button>
      {% endfor %}
    </div>
    <amp-carousel
      id="carousel-with-preview"
      layout="responsive"
      width="300"
      height="200"
      type="slides"
      role="region"
      aria-label="Carousel with slide previews"
    >
      {% for img in collections[gallery] %}
      <amp-img
        width="300"
        height="200"
        src="{{ rootDir }}/{{ img }}"
        alt="{{ img }}"
        layout="responsive"
      ></amp-img>
      {% endfor %}
    </amp-carousel>
  </body>
</html>
