<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ site.title }}</title>
    <style>
      .gallery {
        display: flex;
        flex-wrap: wrap;
        width: 1024px;
      }

      .gallery__thumbnail {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
      }

      .gallery__thumbnail-image {
        flex-shrink: 0;
        max-width: 128px;
        max-height: 128px;
      }
    </style>
  </head>
  <body>
    <h1>{{ title }} {{ year }}</h1>
    <div>{{ content }}</div>
    <div class="gallery">
      {% for img in collections[gallery] %}
      <div class="gallery__thumbnail">
        <img
          class="gallery__thumbnail-image"
          src="{{ rootDir }}/{{ img }}"
          alt="{{ img }}"
        />
      </div>
      {% endfor %}
    </div>
  </body>
</html>
