<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ site.title }}</title>
    <style>
      .gallery {
        display: flex;
        flex-wrap: wrap;
        width: 1024px;
      }

      .gallery__thumbnail {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
      }

      .gallery__thumbnailimage {
        flex-shrink: 0;
        max-width: 128px;
        max-height: 128px;
      }
    </style>
  </head>
  <body>
    <h1>{{ title }} {{ year }}</h1>
    <div>{{ content }}</div>
    <div class="gallery">
      {% for img in collections[gallery] %}
      <div
        class="gallery__thumbnail"
        on="tap:carousel-with-preview.goToSlide(index={{img.index}})"
      >
        <img
          class="gallery__thumbnailimage"
          src="{{ rootDir }}/{{ img.file }}"
          alt="{{ img }}"
        ></img>
      </div>
      {% endfor %}
    </div>
    <amp-carousel
      id="carousel-with-preview"
      layout="responsive"
      width="300"
      height="200"
      type="slides"
      role="region"
      aria-label="Carousel with slide previews"
    >
      {% for img in collections[gallery] %}
      <amp-img
        width="300"
        height="200"
        src="{{ rootDir }}/{{ img.file }}"
        alt="{{ img }}"
        layout="responsive"
      ></amp-img>
      {% endfor %}
    </amp-carousel>
  </body>
</html>
