<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ site.title }}</title>
    <style>
      .gallery {
        display: flex;
        flex-wrap: wrap;
        width: 1024px;
        margin: 0 auto;
      }

      .gallery__thumbnail {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        margin: 4px;
        width: 324px;
        height: 324px;
        border-radius: 8px;
      }

      .gallery__thumbnailimage {
        object-fit: cover;
        height: 100%;
        width: 100%;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <h1>{{ title }} {{ year }}</h1>
    <div>{{ content }}</div>
    <div class="gallery">
      {% for img in collections[gallery] %}
      <div
        class="gallery__thumbnail"
      >
        <img
          class="gallery__thumbnailimage"
          src="{{ rootDir }}/{{ img.file }}"
          alt="{{ img.file }}"
        ></img>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
