---
permalink: /{{ image.type }}/{{ image.year }}/{{ image.index }}/index.html
---

{% layout root.liquid %}
{% block content %}
  {% assign nav = collections.all | eleventyNavigationBreadcrumb: eleventyNavigation.key, navOptions %}
  {% assign parent = nav | last %}
  <div
    class="image-modal">
    <div
      class="image-detail">
      {% imageDetail image.type image.year image.file %}
    </div>
  </div>
  <div
    class="image-overlay">
    <a
      class=""
      href="{{ parent.url }}">
      <div
        class="image-overlay__close"></div>
    </a>
    <div
      class="pure-g">
      <div
        class="pure-u-1-2">
        {% if pagination.href.previous %}
          <a
            class="image-overlay__link image-overlay__link--left"
            href="{{ pagination.href.previous }}">
            <i
              class="image-overlay__arrow image-overlay__arrow--left"></i>
          </a>
        {% endif %}
      </div>
      <div
        class="pure-u-1-2">
        {% if pagination.href.next %}
          <a
            class="image-overlay__link image-overlay__link--right"
            href="{{ pagination.href.next }}">
            <i
              class="image-overlay__arrow image-overlay__arrow--right"></i>
          </a>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}