<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ site.title }}</title>
  </head>
  <body>
    <h1>{{ title }}</h1>
    <div>{{ content }}</div>
    <ul>
      {% for img in collections.imgs %}
      <li><img src="{{ img }}" alt="{{ img }}" /></li>
      {% endfor %}
    </ul>
  </body>
</html>
